<div class="container">
    <h2>Empreendimentos</h2>
    <mat-grid-list [cols]="colsGrid" rowHeight="35em">
        @for(enterprise of enterpriseList; track enterprise.nome) {
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="logo"></div>
                    <mat-card-title>{{enterprise.nome}}</mat-card-title>
                    <mat-card-subtitle>{{enterprise.contrutora}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{enterprise.imgUrl}}" alt="Foto do Empreendimento">
                <mat-card-content>
                    <ul>
                        <li>Área entre <strong>{{enterprise.sizeMin}} m<sup>2</sup></strong> e
                            <strong>{{enterprise.sizeMax}} m<sup>2</sup></strong>
                        </li>
                        <li>A partir de <strong>R$ {{enterprise.priceMin.toLocaleString()}}</strong></li>
                        <li>Quartos: De 1 à 3 quartos</li>
                        <li>Localização: <strong>Bessa - João Pessoa - Paraíba</strong></li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        }
    </mat-grid-list>
</div>