.container {
    padding: 0.5em 1em 0.5em 1em;
    border-top: 1px solid #dedede;
}

.card-list {
    display: flex;
    background-color: #dedede;
    height: 45%;
}

.card {
    max-width: 20em;
    margin-bottom: 1em;
    background-color: #dedede;
    
}

ul {
    line-height: 1.5em;
    height: 10em;
}

.image {
    height: 15em;
}

.loading {
    display: flex;
    justify-content: center;
}