<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select id="state" formControlName="state" (selectionChange)="onOptionSelected($event,'state')">
            @for (state of states; track state) {
            <mat-option [value]="state">{{state}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Cidade</mat-label>
        <mat-select multiple id="cities" formControlName="cities" (selectionChange)="onOptionSelected($event,'city')">
            @for (city of cities; track city) {
            <mat-option [value]="city">{{city}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Bairros</mat-label>
        <mat-select multiple id="districts" formControlName="districts">
            @for (district of districts; track district) {
            <mat-option [value]="district">{{district}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    
    @if (advancedSearch) {
    <mat-form-field>
        <mat-label>Preço Mínimo</mat-label>
        <input matInput placeholder="Ex.: 1000" type="number" inputmode="numeric" name="priceMin" formControlName="priceMin">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Preço Máximo</mat-label>
        <input matInput placeholder="Ex.: 2000000" type="number" inputmode="numeric" name="priceMax" formControlName="priceMax">
    </mat-form-field>
    }

    <div>
        <button mat-raised-button type="submit">Buscar</button>
    </div>

</form>