form {
    text-align: center;
    width: 100%;
}

.row {
    display: flex;
    padding: 1em 1em 0em 1em;
}

button {
    color: #fff !important;
    background-color: #130a8f !important;
}

.spacer {
    padding-left: 1em;
}

mat-form-field {
    padding: 0em 1em 0em 1em;
}

mat-icon {
    color: #130a8f !important;
}

.more-filters {
    display: flex;
    background-color: #fff !important;
    color: #130a8f !important;
    border: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}   

