<div class="container">
    <h2>Empreendimentos</h2>
    @if (loading) {
    <div class="loading">
        <mat-spinner></mat-spinner>
    </div>
    } @else {
    <mat-grid-list [cols]="colsGrid" rowHeight="35em">
        @for(enterprise of enterpriseList; track enterprise.id) {
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar
                        style="background-image: url({{enterprise.logoConstructionCompanyURL}});background-size: cover;">
                    </div>
                    <mat-card-title>{{enterprise.name}}</mat-card-title>
                    <mat-card-subtitle>{{enterprise.constructionCompany}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="image" src="{{enterprise.imageURL}}" alt="Foto do Empreendimento">
                <mat-card-content>
                    <ul>
                        <li>Área entre <strong>{{enterprise.sizeMin}} m<sup>2</sup></strong> e
                            <strong>{{enterprise.sizeMax}} m<sup>2</sup></strong>
                        </li>
                        <li>A partir de <strong>R$ {{enterprise.priceMin.toLocaleString()}}</strong></li>
                        @if(enterprise.roomMin > enterprise.roomMax) {
                        <li>Quartos: De {{enterprise.roomMin}} à {{enterprise.roomMax}} quartos</li>
                        } @else if(enterprise.roomMin == enterprise.roomMax && enterprise.roomMin == 1) {
                        <li>Quartos: {{enterprise.roomMin}} quarto</li>
                        } @else if(enterprise.roomMin == enterprise.roomMax && enterprise.roomMin > 1) {
                        <li>Quartos: {{enterprise.roomMin}} quartos</li>
                        }
                        <li>Localização: <strong>{{ enterprise.address["district"] }} - {{ enterprise.address["city"] }}
                                - {{ enterprise.address["state"] }}</strong></li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="toDetails(enterprise)" ><mat-icon aria-hidden="false" aria-label="Ver detalhes do empreendimento">remove_red_eye</mat-icon>Detalhes</button>
                    <!-- <button mat-raised-button disabled="true" style="background-color: #fff !important; color: black !important;"><mat-icon aria-hidden="false" aria-label="Adicionar aos Favoritos">favorite</mat-icon>Favoritos</button> -->
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        }
    </mat-grid-list>
    }
</div>