input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  /* Remover setas do input type=number */ 
}

textarea {
    resize: none;
}

.container {
    padding: 1em 1em 1em 1em;
}

mat-form-field {
    margin-left: 1em;
    width: 11.25em;
}

mat-form-field span {
    color: red;
    font-size: 0.8em;
}

.name, .type, .description {
    width: 18em;
}

@media screen and (max-width: 960px){
    .container {
        text-align: center;
    }
}
